<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- Settings BboxSetupWizard DataTool 应用 -->
<suite name="蜂盒科技终端自动化测试-DataTool应用">
<!-- 	<test name="基础设置" preserve-order="true">
		<classes>
			<class name="com.beeboxes.setting.testcase.TestSettingsActivity">
				<methods>
					<include name="testAdvanced" />
					<include name="testAboutDevice" />
					<include name="testStorageUsage" />
					<include name="testTodayStatistics" />
					<include name="testCommonSetting" />
					<include name="testFaceRecognizeSetting" />
					<include name="testMoreComparison" />
					<include name="testPersonRules" />
					<include name="testDeviceRules" />
					<include name="testNetworkSetting" />
					<include name="testBlutoothSetting" />
					<include name="testTimeSetting" />
					<include name="testRebootDevice" />
					<include name="testRestoreFactorySettings" />
					<include name="testResetSettings" />
					<include name="testExportFile" />
					<include name="testOpenDoor" />
					<include name="testAlwaysOpenDoor" />
					<include name="testSystemUpdate" />
					<include name="testDeviceManager" />
				</methods>
			</class>
		</classes>
	</test> -->
<!-- 	<test name="高级设置" preserve-order="true">
		<classes>
			<class name="com.beeboxes.setting.testcase.TestAdvancedSettingActivity">
				<methods>
					<include name="testAdvanced" />
					<include name="testCameraEffectSetting" />
					<include name="testRecognitionRecordSetting" />
					<include name="testTipsCustomSetting" />
					<include name="testStandbySetting" />
				</methods>
			</class>
		</classes>
	</test> -->

<!-- 	<test name="关于设备" preserve-order="true">
		<classes>
			<class name="com.beeboxes.setting.testcase.TestDeviceInfoActivity">
				<methods>
					<include name="testDeviceName" />
				</methods>
			</class>
		</classes>
	</test> -->

<!-- 	<test name="单机版默认的激活流程" preserve-order="true">
		<classes>
			<class name="com.beeboxes.setupwizard.testcase.TestSetupwizard">
				<methods>
					<include name="testNetworkDefaultSetupwizard" />
					<include name="testStandAloneDefaultSetupwizard" />
				</methods>
			</class>
		</classes>
	</test> -->

	<test name="单机版的人员管理" preserve-order="true">
		<classes>
			<class name="com.beeboxes.datatool.testcase.TestSearchPeople">
				<methods>
					<include name="testSearchPeopleByCompleteName" />
				</methods>
			</class>
		</classes>
	</test>

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
</suite>